@charset "utf-8";
/* CSS Document */

/*
1. Global Reset
2. Common CSS
3. Header
4. Home
5. Innerpage
6. Footer
7. Media Queries
8. Comments - Donate
*/

/*------------------------------
	Global Reset
------------------------------*/
body {
    background-color: #e1e1e1;
}

img {
    max-width: 100%;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:active,
a:focus,
button:active,
button:focus {
    outline: 0 !important;
}

ul,
ol {
    padding-left: 0;
}

.progress {
    height: 6px;
}

.progress-bar {
    background-color: #7ed221;
}

.form-control {
    border-radius: 0;
}

select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url(../images/bg-select.png) no-repeat right center / contain;
}

textarea {
    resize: vertical;
    max-height: 150px;
}

label {
    font-weight: normal;
}

/*------------------------------
	Common CSS
------------------------------*/
.middle-wrapper {
    margin: 0 auto;
    float: none;
}

.bg-white {
    background-color: #fff;
}

.bg-green {
    background-color: #008349;
}

.txt-green {
    color: #1bb934;
}

.bold {
    font-weight: bold;
    font-size: 30px;
}

.bold-sub {
    color: #9b9da1;
    font-size: 15px;
    font-weight: bold;
}

.section-title {
    font-weight: bold;
    margin: 20px 0;
    font-size: 20px;
}

.top-border {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.sub-title {
    font-size: 22px;
    margin: 20px 0;
}

.content-wrapper {
    margin-bottom: 20px;
}

.btn-green-border {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    border: 1px solid #008349;
    padding: 8px 10px;
    width: 200px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
}

.btn-green-border:hover {
    background-color: #008349;
    color: #fff;
}

.btn-green,
.btn-blue {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    border: 1px solid #008349;
    background-color: #008349;
    padding: 8px 10px;
    width: 200px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    color: #fff;
}

.btn-green:hover {
    background-color: transparent;
    color: #008349;
}

.btn-blue {
    border: 1px solid #3a5897;
    background-color: #3a5897;
}

.btn-blue :hover {
    background-color: transparent;
    color: #3a5897;
}

.btn-email,
.btn-fb,
.btn-msg {
    width: 185px;
    margin: 20px 10px;
    padding: 10px 15px;
    font-weight: bold;
}

.btn-email {
    background-color: #498fe1;
}

.btn-email:hover,
.btn-email:focus {
    background-color: #3076c8;
}

.btn-fb {
    background-color: #3e5794;
}

.btn-fb:hover,
.btn-fb:focus {
    background-color: #3076c8;
}

.btn-msg {
    background-color: #f5bf41;
    border: 1px solid #d9a325;
}

.btn-msg:hover,
.btn-msg:focus {
    background-color: #d9a325;
}

.button-wrapper {
    margin-bottom: 30px;
}

/*------------------------------
	Header
------------------------------*/
.site-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.site-header .logo,
.site-header .context {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
}

.site-header .logo {
    width: 50px;
    margin-right: 15px;
}

.site-header .txt-support {
    font-size: 16px;
}

.top-nav > a {
    display: inline-block;
    padding: 5px 10px;
    width: 130px;
    border: 1px solid #ccc;
    color: #000;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    margin-left: 10px;
    margin-top: 7px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.top-nav > a:hover {
    background-color: #008349;
    color: #fff;
    border: 1px solid #008349;
}

/*------------------------------
	Home
------------------------------*/
.subject-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.subject-wrapper .subject-title {
    color: #fff;
    font-size: 24px;
    /*margin-top: 30px;*/
}

.subject-wrapper .item-title {
    font-weight: bold;
    font-size: 30px;
}

.subject-wrapper .row > div {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: -2px;
}

.subject-wrapper img.img-circle {
    width: auto;
    max-width: none;
    height: 60px;
    border-radius: 0;
}

.ply-thmb {
    overflow: hidden;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
}

.team-mem-info {
    margin-top: 20px;
    margin-bottom: 20px;
    border-right: 1px solid #ccc;
}

.team-mem-info > img {
    max-width: 130px;
}

.team-mem-info > .mem-name {
    display: block;
    margin: 20px 0 0;
    font-weight: bold;
}

.team-mem-info > .mem-speech:before,
.team-mem-info > .mem-speech:after {
    content: '"';
    font-size: 18px;
}

.team-detail {
    margin-top: 20px;
    margin-bottom: 20px;
}

.team-detail .detail-info.middle {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.fund-ratio {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 25px;
}

.fund-ratio .progress-rate {
    position: absolute;
    top: 0;
    left: 15px;
    font-weight: bold;
}

.fund-ratio .progress {
    margin-bottom: 6px;
}

.fund-ratio > span {
    font-weight: bold;
}

.ribon {
    position: absolute;
    top: -6px;
    left: -6px;
    z-index: 200;
}

.reward-wrapper {
    padding: 20px 0;
}

.reward-thumbnail {
    margin-left: 18%;
    margin-right: 20px;
}

.reward-detail {
    margin: 20px 0;
}

.reward-detail li {
    list-style: none;
    padding: 5px 0 5px 35px;
    font-size: 18px;
}

.reward-detail li:before {
    content: '\f058';
    font-size: 22px;
    color: #1cb934;
    font-family: FontAwesome;
    margin-right: 10px;
}

.reward-detail p {
    font-size: 27px;
    font-weight: bold;
}

.reward-detail span {
    font-size: 18px;
}

.count-wrapper > div.bg-white {
    margin-right: -15px;
}

.supporter-count,
.days-count {
    margin: 4em 0;
    padding: 15px 45px;
}

.supporter-count > span,
.days-count > span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.supporter-count {
    border-right: 2px solid #ccc;
}

.slide-wrapper .btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -45px;
    z-index: 500;
    cursor: pointer;
}

.video-play-wrapper .close {
    position: absolute;
    right: 5px;
    top: 2px;
    color: #000;
    z-index: 500;
    opacity: 1;
}

.slide-wrapper > .carousel-inner {
    height: 450px;
}

.slide-wrapper > .carousel-indicators {
    margin-top: 10px;
    position: static;
    margin-left: 0;
    width: 100%;
    left: 0;
}

.slide-wrapper > .carousel-indicators li {
    border-radius: 0;
    width: 110px;
    height: 70px;
    text-indent: inherit;
    overflow: hidden;
}

.slide-wrapper > .thumbnail-wrapper img {
    height: 75px;
    width: auto;
    max-width: none;
}

.slide-wrapper > .thumbnail-wrapper > li {
    vertical-align: bottom;
}

.slide-wrapper li.active {
    height: 75px;
}

.right-content-wrapper {
    margin-right: -15px;
    padding: 15px;
}

.right-content-wrapper > h3 {
    margin: 0 0 15px;
}

.msg-content-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 850px;
}

.msg-content-wrapper > .msg-item {
    padding: 15px 0;
    border-top: 1px solid #ccc;
}

.msg-content-wrapper img,
.msg-content-wrapper .msg-sender {
    display: inline-block;
    vertical-align: middle;
}

.msg-item > p {
    margin-top: 10px;
}

.msg-item > p:before,
.msg-item > p:after {
    content: '"';
    font-size: 18px;
}

.msg-sender {
    margin-left: 10px;
    color: #999;
}

.msg-sender > span {
    display: block;
    font-weight: bold;
    color: #000;
    font-size: 18px;
}

.switch-account > .btn {
    width: 80px;
}

.switch-account > input[type="radio"] {
    display: none;
}

.switch-account > input[type="radio"]:checked + label {
    background-color: #008349;
    color: #fff;
}

.alert {
    display: block;
    padding: 5px;
    margin-top: 10px;
}

.radio-style {
    margin-top: 8px;
}

.radio-style .radio_item {
    display: none !important;
}

.radio-style .label_item div {
    border: 1px solid #efefef;
    background: #fcfcfc;
    text-align: center;
    padding: 5px 10px;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.radio-style .label_item {
    position: relative;
    width: 45%;
    margin-right: 10px;
}

.radio-style .label_item span {
    display: block;
    font-size: 20px;
    color: #8ac900;
}

.radio-style .label_item i {
    display: none;
    font-size: 24px;
    color: #8ac900;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 9999;
    background: #fff;
}

.radio-style .radio_item:checked + label div {
    border: 1px solid #64bfec;
    background: #fcfcfc;
}

.radio-style .radio_item:checked + label i {
    display: block;
}

.radio-style label {
    cursor: pointer;
}

/*------------------------------
	Innerpage
------------------------------*/
.page-title {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.page-title > img,
.page-title span {
    display: inline-block;
    vertical-align: middle;
}

.page-title > img {
    width: 80px;
    margin-right: 15px;
}

.page-title.add-img > img {
    height: 80px;
}

.page-title span {
    font-weight: bold;
    font-size: 26px;
}

.progress-meter {
    width: 410px;
    margin: 20px auto;
    justify-content: space-between;
    display: flex;
}

.meter-block {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #e1e1e1;
    text-align: center;
    padding-top: 3px;
    background-color: #1bb934;
    color: #fff;
}

.meter-block:before {
    display: block;
    content: '';
    width: 160px;
    background-color: #1bb934;
    height: 5px;
    margin-left: -163px;
    margin-top: 5px;
    position: absolute;
}

.meter-block.first:before {
    display: none;
}

.meter-block:after {
    content: attr(data-title);
    margin-left: -29px;
    margin-top: 28px;
    position: absolute;
    font-weight: bold;
    color: #000;
}

.meter-block.middle:after {
    margin-left: -37px;
}

.meter-block.last:after {
    margin-left: -24px;
}

.meter-block.active,
.meter-block.active:before {
    background-color: #1bb934;
    color: #fff;
    border-color: #1bb934;
}

.meter-block.active + span,
.meter-block.active + span + span {
    background-color: transparent;
    color: #ccc;
}

.meter-block.active + .meter-block:before,
.meter-block.active + .meter-block + .meter-block:before {
    background-color: #e1e1e1;
}

.meter-block.active + .meter-block:after,
.meter-block.active + .meter-block + .meter-block:after {
    font-weight: normal;
}

.form-content-wrapper {
    float: none;
    margin: 30px auto;
    border: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tab-form-wrapper {
    margin: 30px auto;
    float: none;
}

.tab-form-wrapper p.bold {
    font-size: 20px;
    color: #0780cb;
}

.tab-payment {
    background-color: #f2f2f2;
}

.tab-payment li {
    width: 50%;
    height: 85px;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.tab-payment li:first-child {
    border-right: 1px solid #ccc;
}

.tab-payment .divider {
    position: absolute;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    top: 50%;
    margin-top: -15px;
    padding-top: 8px;
    text-align: center;
    color: #fff;
    z-index: 300;
}

.tab-payment li.active {
    background-color: #e1e1e1;
}

.tab-payment li.active:after {
    content: '\f0d7';
    font-family: "FontAwesome";
    color: #000;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 1;
}

.tab-payment li a {
    margin-right: 0;
    border-radius: 0;
    display: inline-block;
    border: 0 !important;
}

.tab-payment li.active a {
    /*background-color:transparent;*/
}

.tab-payment li a.p1 {
    background: linear-gradient(to top, #066198, #0a90e2) !important;
    padding: 10px;
    border-radius: 5px;
    color: #fff !important;
}

.tab-payment li a.p2 {
    background-color: #ffc438 !important;
    padding: 5px 10px;
    border-radius: 20px;
    color: #000;
}

.tab-payment a > img {
    height: 20px;
    width: auto;
    margin-right: 5px;
}

.tab-payment li > span {
    display: block;
    text-align: center;
    font-size: 10px;
    color: #000;
}

.tab-form-wrapper .form-content-wrapper {
    margin-top: -1px;
}

.msg-thankyou {
    margin: 30px 0;
    font-size: 30px;
}

.post-title {
    margin: 20px 0;
    font-weight: bold;
    font-size: 18px;
}

.message-form .btn-message {
    margin-top: 25px;
    font-weight: bold;
}

.message-form .fa {
    margin-right: 10px;
}

.reward-note {
    margin-top: 20px;
    margin-bottom: 20px;
}

.reward-note > .wrapper {
    border: 1px solid #ccc;
    padding: 30px;
    padding-left: 8em;
    position: relative;
}

.reward-note .device-sample {
    width: 170px;
    margin-right: 20px;
}

.reward-detail-info > p:first-child {
    font-size: 20px;
}

.reward-detail-info > .step-note {
    margin: 20px 0;
}

.reward-detail-info > ul {
    list-style: none;
}

.reward-detail-info li {
    padding: 10px 0;
}

.reward-detail-info li:before {
    content: '\f058';
    font-family: "FontAwesome";
    color: #1bb934;
    margin-right: 10px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

.social-wrapper {
    margin: 20px 0;
}

.share-form-wrapper {
    margin: 20px 0;
}

.share-form-wrapper .form-bordered {
    border: 1px solid #ccc;
    border-left: 4px solid #498fe1;
    padding: 20px;
}

.fb-container .form-bordered {
    border-left: 4px solid #3e5794;
}

.sms-container .form-bordered {
    border-left: 4px solid #f5bf41;
}

.share-form-wrapper p {
    margin-bottom: 20px;
    font-size: 12px;
}

/*------------------------------
	Footer
------------------------------*/
.social-icon > a {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    font-size: 18px;
    border: 2px solid #999;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 11px;
    color: #999;
}

.social-icon > a:hover {
    background-color: #999;
    color: #fff;
}

/*------------------------------
    Popup
------------------------------*/
/*Login-Register*/
.login-reg-wrapper button.close {
    position: absolute;
    z-index: 1000;
    right: 15px;
    top: 15px;
}

.login-wrapper > .page-title {
    padding: 0;
}

.login-form-wrapper > button.btn {
    margin-left: 0;
    margin-right: 0;
    width: 120px;
}

/*------------------------------
	Media Queries
------------------------------*/
@media (max-width:1199px) {

    .supporter-count,
    .days-count {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width:991px) {
    .reward-thumbnail {
        width: 186px;
        margin-left: 25%;
    }

    .reward-detail p,
    .reward-detail span {
        font-size: 14px;
    }

    .supporter-count > span,
    .days-count > span {
        font-size: 15px;
    }

    .btn-green,
    .btn-blue {
        width: 186px;
    }

    .section-title {
        font-size: 18px;
    }

    .sub-title {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    .msg-content-wrapper {
        max-height: 770px;
    }
}

@media (max-width:767px) {

    .supporter-count,
    .days-count {
        margin: 10px 0;
    }

    .count-wrapper,
    .right-container {
        margin-top: 20px;
    }

    .count-wrapper > div.bg-white,
    .right-content-wrapper {
        margin-left: -15px;
    }
}

@media (max-width:555px) {

    .site-header .row > div,
    .top-nav {
        width: 100%;
        text-align: center;
    }

    .subject-wrapper .subject-title {
        margin-top: 22px;
    }

    .subject-wrapper .item-title {
        font-size: 24px;
    }
}

@media (max-width:568px) {
    .progress-meter {
        width: 250px;
    }

    .meter-block::before {
        width: 80px;
        margin-left: -83px;
    }

    .reward-detail-info {
        clear: both;
    }

    .reward-note > .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .reward-note .device-sample {
        margin-left: -50px;
        left: 50%;
        position: relative;
        width: 100px;
    }

    .reward-detail-info li {
        padding: 0;
    }

    .reward-detail-info > .step-note {
        margin: 10px 0;
    }

    .msg-thankyou {
        font-size: 24px;
    }
}

@media (max-width:510px) {
    .subject-wrapper .subject-title {
        margin-top: 0;
    }

    .reward-detail {
        clear: both;
        text-align: center;
    }
}

@media (max-width:380px) {
    .slide-wrapper > .carousel-indicators img {
        height: 45px;
    }

    .slide-wrapper li.active > img {
        height: 50px;
    }

    .sub-title {
        font-size: 14px;
    }
}





/*------------------------------
	Comments - Donate
------------------------------*/
.site-header.header2,
.footer2 {
    background-color: #161523;
    padding: 0;
}

.site-header.header2 {
    margin-bottom: 3em;
}

.p-title {
    color: #fff;
    font-style: italic;
    font-size: 26px;
}

.p-title span:before,
.p-title span:after {
    content: '"';
}

.site-header.header2 .white-logo,
.p-title {
    margin: 20px 0;
}

.p-title {
    margin-top: 1.5em;
}

.offer > img {
    position: absolute;
    top: 0;
}

.footer2 {
    color: #fff;
    padding: 20px 0;
}

.footer2 .c-number,
.footer2 .f-logo {
    margin: 10px 0;
}

.d-thumbnail table td {
    border: 0 !important;
}

.donation-wrapper > .alert {
    margin-left: 35px;
    margin-right: 35px;
}

.donation-wrapper .heading2 {
    font-weight: bold;
    font-size: 28px;
    -webkit-transform: scaleY(1.5);
    -moz-transform: scaleY(1.5);
    -o-transform: scaleY(1.5);
    -ms-transform: scaleY(1.5);
    transform: scaleY(1.5);
}

.donation-wrapper .carousel.slide {
    padding: 15px 40px;
    margin-bottom: 30px;
}

.donation-wrapper .carousel-inner,
.d-form-wrapper .form-content {
    border: 2px solid #000;
    border-radius: 15px;
}

.donation-wrapper .carousel-inner > .item,
.d-form-wrapper .form-content {
    padding: 20px;
}

.donation-wrapper .brand > img {
    height: 140px;
}

.donation-wrapper .brand > span {
    font-size: 38px;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: left;
    line-height: 1;
}

.donation-wrapper > .heading2 .brand {
    width: 120px;
    float: left;
    text-align: left;
    font-weight: normal;
}

.donation-wrapper > .heading2 .brand img {
    height: 40px;
}

.donation-wrapper > .heading2 .brand span {
    font-size: 10px;
    text-align: left;
}

.donation-wrapper .item p {
    margin: 15px 0;
}

.donation-wrapper .carousel-control {
    margin: auto;
    width: 30px;
    height: 30px;
    background: #ccc;
    border: 1px solid #999;
    color: #242536;
    text-shadow: none;
}

.donation-wrapper .carousel-control .glyphicon {
    font-size: 18px;
    left: 0;
    right: auto;
    margin-left: 0;
    margin-right: 0;
}

.donation-wrapper .carousel-control.left {
    border-radius: 0 4px 4px 0;
}

.donation-wrapper .carousel-control.right {
    border-radius: 4px 0 0 4px;
}

.donation-wrapper .carousel-indicators {
    bottom: -20px;
}

.donation-wrapper .carousel-indicators li {
    background-color: #8d8d8d;
}

.donation-wrapper .carousel-indicators .active {
    background-color: #242536;
}

.donation-wrapper .btn-default {
    background-color: #242536;
    color: #fff;
}

.donation-wrapper .btn-default.green {
    background-color: #2fc627;
    color: #fff;
}

.d-form-wrapper .form-content {
    margin: 20px 0;
}

.d-form label {
    font-weight: bold;
    font-size: 12px;
}

.d-form .btn.amount {
    background-color: #ddd;
}

.d-form .btn.amount.selected {
    background-color: #d40001;
    color: #fff;
}

.d-form .s-amount input {
    height: 34px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.d-form .full-width {
    display: block;
}

@media (max-width:800px) {
    .site-header.header2,
    .footer2 {
        overflow: hidden;
    }
}


@media (max-width:555px) {
    .offer > img {
        position: static;
    }
    .footer2 , .footer2 p{ text-align: center !important;}
    .footer2 .c-number, .footer2 .f-logo {
    margin: 5px 0;
}
    .footer2 p{ margin: 5px 0;}
    .site-header .row > div.offer {
        width: 160px;
        position: absolute;
        right: 0;
    }

    .p-title {
        margin-top: 0;
    }

    .donation-wrapper .carousel-inner > .item,
    .d-form-wrapper .form-content {
        padding: 5px;
    }

    .donation-wrapper .brand > span {
        width: 100%;
        font-size: 24px;
    }

    .donation-wrapper .carousel.slide {
        padding: 15px 15px;
    }

    .donation-wrapper .heading2 {
        line-height: 24px;
    }
}
