@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'Avenir-Medium';
	src: url('../fonts/AvenirNextLTPro-Medium.eot');
	src: local('☺'), url('../fonts/AvenirNextLTPro-Medium.woff') format('woff'), url('../fonts/AvenirNextLTPro-Medium.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir-Bold';
	src: url('../fonts/AvenirNextLTPro-Bold.eot');
	src: local('☺'), url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'), url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	padding: 0;
	margin: 0;
}
body {
	background: #ebebeb;
	color: #333;
	font-size: 15px;
	font-family: 'Avenir-Medium';
}
input, .form-control, .btn-block {
	border-radius: 2px;
}
a {
	color: #333;
}
a:focus, a:hover {
	color: #fe9900;
	text-decoration: none;
}
.table-section {
	position: relative;
}
h2 {
	font-size: 23px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
a, a img {
	outline: none !important;
	border: none;
}
.font23 {
	font-size: 23px;
}
.font20 {
	font-size: 20px;
}
.font18 {
	font-size: 18px;
}
.font16 {
	font-size: 16px;
}
img {
	max-width: 100%;
}
.block {
	display: block;
}
.btn-lg {
	padding-top: 4px;
	padding-bottom: 4px;
}
.logo {
	background: #33cc33;
	text-align: center;
}
.main {
	padding: 15px;
}
.logo img {
	margin: 21px;
}
.sm-txt {
	font-size: 12px;
	color: #989898;
	white-space: nowrap;
}
.navbar {
	margin-bottom: 0;
}
.navbar-default {
	background: none;
	border: none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: none;
	border-bottom: 5px solid #39b54a;
	color: #f9fafa;
}
.navbar-nav > li > a {
	padding: 31px 20px;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.div-center {
	margin: 0 auto;
	float: none;
}
.up-gap {
	margin-top: 15px;
}
.down-gap {
	margin-bottom: 15px;
}
.up-down-gap {
	margin-top: 15px;
	margin-bottom: 15px;
}
.gap-pad {
	padding: 15px;
}
.white-bg {
	background: #fff;
	padding: 15px;
}
.logout {
	color: #32cb32;
}
.page-title {
	line-height: 30px;
}
.gray-bg {
	padding: 15px;
	background: #ebebeb;
}
.lit-gray-bg {
	padding: 15px;
	background: #f8f8f8;
}
.green-txt {
	color: #33cc33;
}
.black-txt {
	color: #000;
}
.red-txt {
	color: #ff3234;
}
.per-txt {
	color: #cc68cb;
}
.blue-txt {
	color: #6598cd;
}
.gray-txt {
	color: #999;
}
.orange-txt {
	color: #ff9800;
}
.bold-txt {
	font-weight: bold;
}
.title {
	font-size: 23px;
	margin: 4px 0;
}
.title span {
	margin-top: -5px;
}
.ad-search-rt {
	margin: 15px 0;
}
.ad-search-rt div:last-child {
	padding-right: 0px;
}
.info-table-wrapper {
	border: 1px solid #ccc;
}
.txt-center {
	text-align: center;
}
.txt-right {
	text-align: right;
}
.txt-itl {
	font-style: italic;
}
.txt-uppercase {
	text-transform: uppercase;
}
.info-table {
	width: 100%;
}
.info-table th {
	font-family: 'Avenir-Bold';
	color: #999999;
	font-size: 18px;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
}
.line {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.info-table td, .info-table th {
	padding: 10px 5px;
}
.more-arrow {
	border: 1px solid #ccc;
	padding: 5px;
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 23px;
	border-radius: 50%;
	display: inline-block;
	color: #ababab;
}
.more-arrow:hover {
	background: #ababab;
	color: #fff;
}
.cat-name {
	line-height: 35px;
}
.alart-no {
	background: #197b30;
	border-radius: 50%;
	font-size: 14px;
	padding: 5px 3px;
	position: absolute;
	right: -15px;
	top: -3px;
	width: 30px;
	text-align: center;
}
.top-alart {
	font-size: 30px;
	position: relative;
	float: left;
}
.user-wrapper {
	color: #fff;
	margin: 20px 0;
	float: right;
}
.user-info {
	float: left;
	margin: -5px 0 0 25px;
}
.user-ph {
	margin: 0 10px;
	float: left;
}
.user-name {
	color: #fff;
	float: left;
}
.prev-arrow {
	float: left;
	margin-right: 15px;
}
.top-border-non {
	border: 1px solid #ccc;
	border-top: none;
}
.form-txt {
	margin: 10px 0;
}
.err {
	color: #c30000;
	font-size: 11px;
}
.filter {
	position: absolute;
	width: 100%;
	top: 0;
	padding-right: 30px;
}
.filter-bg {
	background: #f8f8f8;
	border: 1px solid #ccc;
	padding: 15px;
	box-shadow: 3px 3px 7px #b6b6b6;
}
.scroll-box-itm {
	padding: 10px;
	border: 1px solid #cfcfcf;
	height: 220px;
}
.itm-name {
	padding: 10px 20px;
}
.filter-bg .content {
	height: 200px;
	overflow: auto;
}
.main .active::before {
	color: #32cc98;
	content: '\f00c';
	font-family:'FontAwesome';
	margin-right: 10px;
	position: absolute;
	left: 0;
}
.ad-info-rt {
	margin-top: 25px;
}
.header {
	background: #000 none repeat scroll 0 0;
}
h2.title .icon {
	margin: 0 10px;
}
.top-section .icon > img {
	margin-top: -8px;
}
.add-merchant h3 {
	text-transform: uppercase;
	margin-bottom: 0;
}
.add-merchant .gray-bg {
	margin-bottom: 15px;
}
.merchant-row .sm-txt {
	margin-top: 10px; /*Important for Merchant profile edit*/
}
.merchant-row .up-img img {
	max-width: 100px;
}
.merchant-row .upload {
	margin: 10px 0;
}
.sort-list {
	position: relative;
	padding: 5px 20px;
}
.sort-list > div > div:last-child {
	margin: 10px 0 0;
}
.sort-by {
	position: absolute;
	top: 0;
	right: 0;
}
.tab-section .btn-block {
	padding: 5px 10px;
}
.tabwrappre {
	float: left;
	margin-bottom: 0px;
}
.tab-col {
	float: left;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 15px 30px;
	border-top: 1px solid #ccc;
	font-size: 16px;
}
.tab-col.first {
	border-left: 1px solid #ccc;
}
.tab-col.act {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.add-merchant h3 {
	margin-top: 0;
}
.form-col {
	margin: 0 0 15px 0;
	padding: 15px 0;
}
.form-col .row {
	margin-bottom: 5px;
}
.search {
	background: url(../images/search-icon.png) no-repeat 5px;
	padding-left: 30px;
}
.orange-btn {
	background: #f26c4f;
	color: #fff;
	text-align: center;
}
.orange-btn:hover {
	background: #e05739;
	color: #fff;
}
.green-btn {
	background: #33cc33;
	color: #fff;
	text-align: center;
}
.green-btn:hover {
	background: #25ae25;
	color: #fff;
}
.info-coupon {
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 10px;
}
.info-coupon span {
	display: block;
}
.coupons-wrappre h3 {
	margin-top: 0px;
}
.coupons-wrappre .line {
	margin: 30px 0;
}
.add-coupon .sm-txt {
	margin-top: 17px;
}
.add-coupon .gray-bg {
	margin-bottom: 15px;
}
.add-coupon .title {
	text-transform: uppercase;
}
.users {
	width: 200px;
}
.users h2 {
	margin: 0;
}
.user-content .heading span {
	margin-right: 10px;
}
/*23.9.2015 swarup stert*/
.frm_not > div, .frm_not_set > div, .acc_set_inner > div {
	padding-left: 0;
	padding-right: 0;
}
.select_sec select {
	background: #ebebeb;
	border: 1px solid #c5c5c5;
	display: inline-block;
	width: 29%;
}
.frm_inner, .frm_not {
	margin-bottom: 25px;
}
.big_up_gap {
	margin-top: 30px;
}
.secon_mnu {
	width: 19%;
	margin: 0 8px;
	float: left;
	background: #fff;
	border-bottom: 8px solid #fff;
}
.secon_mnu_wrap_3rd_row .secon_mnu3 .secon_mnu3_inner {
	background: #fff;
	border-bottom: 8px solid #fff;
}
.secon_mnu_wrap, .secon_mnu_wrap_3rd_row {
	text-align: center;
}
.secon_mnu_wrap_3rd_row > div:first-child {
	padding-left: 0;
}
.secon_mnu_wrap_3rd_row > div:last-child {
	padding-right: 0;
}
.secon_mnu p, .secon_mnu3 p {
	padding: 30px 0 15px;
	margin: 0;
}
.secon_mnu span, .secon_mnu3 span {
	display: block;
	font-size: 30px;
}
.secon_mnu_wrap .secon_mnu.mnu_active {
	border-color: #3cb879;
}
.secon_mnu_wrap_3rd_row .secon_mnu3.mnu_active .secon_mnu3_inner {
	border-color: #3cb879;
}
.secon_mnu_wrap .secon_mnu.mnu_active span {
	color: #31ce9b;
}
.secon_mnu_wrap_3rd_row .secon_mnu3.mnu_active .secon_mnu3_inner span {
	color: #31ce9b;
}
.all_app_sec {
	padding: 30px 15px 20px;
	background: #fff;
}
.frm_table_sec table tr td {
	padding: 15px 0;
}
.frm_table_sec table thead tr td {
	padding-top: 0;
	color: #999;
}
.noborder {
	border-bottom: none !important;
}
.secon_mnu_wrap > div:first-child {
	margin-left: 0;
}
.secon_mnu_wrap > div:last-child {
	margin-right: 0;
	float: right;
}
.frm_wrap input[type="button"], .gene_sec input[type="submit"] {
	border-radius: 0 !important;
}
.gene_sec .pad_R_30 {
	padding-right: 30px;
}
.mar_U_B_30 {
	margin: 30px 0;
}
.generate_tabl table tbody tr td {
	width: 24.9%;
}
.check12 {
	background: #fff;
	border: 1px solid #4d8c55;
	border-radius: 50%;
	color: #000;
	float: left;
	font-weight: bold;
	height: 26px;
	margin: 0 0 0 15px;
	position: absolute;
	text-align: center;
	width: 26px;
}
.check21 {
	background: #fff;
	border: 1px solid #4d8c55;
	border-radius: 50%;
	color: #000000;
	float: left;
	font-weight: bold;
	height: 26px;
	position: absolute;
	text-align: center;
	width: 26px;
	margin-left: -10px;
}
.uncheck1 {
	background: #707070;
	border: 1px solid #2e2e2e;
	border-radius: 15px;
	color: #fff;
	float: left;
	font-weight: bold;
	padding: 0px 0 0px 10px;
	position: relative;
	text-align: center;
	width: 33px;
	height: 26px;
}
.check1 {
	background: #3ab54a;
	border: 1px solid #289b37;
	border-radius: 15px;
	color: #ffffff;
	float: left;
	font-weight: bold;
	padding: 0 0;
	position: relative;
	text-align: center;
	width: 35px;
	height: 26px;
}
.error, .error_msg {
	font-size: 12px;
	margin: 2px 0;
	color: #F00;
	font-weight: normal;
}
.succ_msg {
	font-size: 12px;
	margin: 10px 0;
	color: #00CC00;
	font-weight: normal;
	text-align: center;
	background: #fff;
	padding: 10px;
}
.white-btn {
	background: #fff;
	border: none;
}
/*23.9.2015 swarup end*/
.btn-act-w {
	width: 120px;
	text-align: center;
}
.tsc_pagination {
	list-style: none;
	float: right;
}
.tsc_pagination li {
	display: inline-block;
	margin: 5px 2px;
}
.tsc_pagination li.current a, .tsc_pagination li a:hover {
	background: #33cc33;
	padding: 5px 10px;
	color: #fff;
}
.tsc_pagination li a {
	background: #ccc;
	padding: 5px 10px;
}
.page-nav {
	display: block;
	overflow: hidden;
	margin-top: 10px;
}
/*Added by 16-02-2016 by Kaushik*/
.btn-cust {
	max-width: 140px;
	display: inline-block;
}
.info-table-wrapper .merchant-logo > img {
	min-width: 60px;
	height: auto;
	margin-left: -10px;
}
.info-table-wrapper .merchant-detail > a {
	display: inline-block;
	vertical-align: middle;
	max-width: 80%;
	padding-left: 10px;
}
.info-table-wrapper .merchant-logo {
	padding: 0;
	background-color: #ccc;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	overflow: hidden;
	text-align: center;
	border: 1px solid #ccc;
}
table.dataTable th {
	color: #656565 !important;
}
<!--Switch Button-->  
.onoffswitch {
	position: relative;
	width: 65px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	height: 26px;
	padding: 0;
	line-height: 26px;
	border: 1px solid #2e2e2e;
	background:#707070;
	border-radius: 36px;
	background-color: 707070;
	transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
	content: "";
	display: block;
	width: 26px;
	height:26px;
	margin: 0px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 38px;
	border: 1px solid #4d8c55;
	border-radius: 36px;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
	background-color: #3ab54a;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
	border-color: #4d8c55;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	right: 6px;
}
.page-breadcrumb { margin-top:5px;}
.page-breadcrumb .breadcrumb .active::before {content:'';position:relative;}
.page-breadcrumb .breadcrumb .active:last-child::before {content:'/';color:#a7a7a7;margin-right:5px;}
<!--Ends here-->
